<header class="w-full h-15 py-4 z-10 fixed backdrop-blur-md shadow-pink navbar navbar-start">
<div class="navbar ">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
      <a href="/" class="btn btn-ghost text-xl">BaileyBurnsed.dev</a>
  </div>
  <div class="navbar-end">
  </div>
</div>
</header>
