<header class="w-full h-15 py-4 z-10 fixed backdrop-blur-md shadow-pink navbar navbar-start">
<div class="navbar ">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost">Home</a>
  </div>
  <div class="navbar-center">
      <a href="/" class="btn btn-ghost text-xl">Virtue</a>
  </div>
  <div class="navbar-end">
    <a href="/projects" class="btn btn-ghost">Projects</a>
    <a href="/crud" class="btn btn-ghost">Kanban</a>
    <a href="/matrix" class="btn btn-ghost">Matrix</a>
    <a href="/pomodoro" class="btn btn-ghost">Pomodoro</a>
    <a href="/settings" class="btn btn-ghost">Settings</a>
    <a href="/signin" class="btn btn-ghost">Sign In</a>
    <a href="/signup" class="btn btn-ghost">Sign Up</a>
  </div>
</div>
</header>
