---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Welcome to Astro.">
  <Header />
	<main class="h-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 container mx-auto py-auto mt-16 gap-8">
     <div class="borde-red-500  h-96">
        DO Now
        <Card />
     </div>  
      <div class="borde-yellow-500 h-96">
       Plan Now
      <Card />
      </div>
      <div class="borde-cyan-500 h-96">
        Do Later
        <Card />
      </div>
      <div class="borde-green-500 h-96">
       Let the Bots do it 
        <Card />
      </div>
    </div>		
    <!-- <Footer /> -->
	</main>
</Layout>

