---
import Layout from '../layouts/Layout.astro';
import ProjectMatrix from '../components/ProjectMatrix.vue';
---

<Layout title="Eisenhower Matrix">
  <main>
    <ProjectMatrix client:load />
  </main>
</Layout>
