---
import Layout from '../layouts/Layout.astro';
import PomodoroTimer from '../components/PomodoroTimer.vue';
---

<Layout title="Pomodoro Timer">
  <main>
    <PomodoroTimer client:load />
  </main>
</Layout>
