---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import ProjectMatrix from '../components/ProjectMatrix.vue';
---
<Layout title="Projects">
  <main class="container mx-auto mt-12">
    <ProjectMatrix client:only="vue" />
  </main>
</Layout>

