---
import Layout from '../layouts/Layout.astro';
import ProjectMatrix from '../components/ProjectMatrix.vue';
import CreateProject from '../components/CreateProject.vue';
---

<Layout title="Projects">
  <main class="p-6 max-w-6xl mx-auto">
    <ProjectMatrix client:only="vue" class="mt-10" />
  </main>
</Layout>

