---
import Layout from '../layouts/Layout.astro';
import SettingsPage from '../components/SettingsPage.vue';
---

<Layout title="Settings">
  <main>
    <SettingsPage client:load />
  </main>
</Layout>
